---
title: Supply details
---
extends shared/_layout
block content

  include ../components/sidebar/_sidebar.pug
  include ../components/supply/_details.pug

  block modals
    include ../components/modals/_upload-doc.pug
