// .supply-details
.supply-details.panel
  .supply-details__info
    .wysiwyg
      a(href="#" data-micromodal-trigger="modalUploadDoc").btn.btn-primary Загрузить документ
      .table-scroller
        table.table.table--w-head(data-aos="fade")
          caption Мои документы
          thead
            tr
              td.tac.tcol-num №
              td.tac.tcol-date Дата
              td Наименование документа
          tbody
            tr
              td.tac 0001
              td.tac 21.12.20
              td
                a(href="#") Договор на услуги № 0000288831-3209
            tr
              td.tac 0002
              td.tac 21.12.20
              td
                a(href="#") Приложение к договору

      .table-scroller
        table.table.table--w-head(data-aos="fade")
          caption Документы исполнителя
          thead
            tr
              td.tac.tcol-num №
              td.tac.tcol-date Дата
              td Документы исполнителя
              td.tac Размер файла
          tbody
            tr
              td.tac 0001
              td.tac 21.12.20
              td
                a(href="#") Счет на оплату услуги по договору № 0000288831-3209
              td.table-file
                +svgMono('file-word')
                span 88,5 Кб
            tr
              td.tac 0002
              td.tac 21.12.20
              td
                a(href="#") Транспортные документы
              td.table-file
                +svgMono('file-excel')
                span 67,1 Кб
            tr
              td.tac 0003
              td.tac 21.12.20
              td
                a(href="#") Счет на оплату услуги по договору № 0000288831-3209
              td.table-file
                +svgMono('file-pdf')
                span 1,54 Мб
            tr
              td.tac 0004
              td.tac 21.12.20
              td
                a(href="#") Счет на оплату услуги по договору № 0000288831-3209
              td.table-file
                +svgMono('file-word')
                span 88,5 Кб
            tr
              td.tac 0005
              td.tac 21.12.20
              td
                a(href="#") Счет на оплату услуги по договору № 0000288831-3209
              td.table-file
                +svgMono('file-pdf')
                span 1,54 Мб
            tr
              td.tac 0006
              td.tac 21.12.20
              td
                a(href="#") Счет на оплату услуги по договору № 0000288831-3209
              td.table-file
                +svgMono('file-excel')
                span 88,5 Кб
