// .supply-details
.supply-details.panel
  .supply-details__scope
    table
      tr
        td.c-gray Текущее состояние
        td.f-500 Выход груза с таможни
      tr
        td.c-gray Итого дней в пути
        td.f-500 30
      tr
        td.c-gray Номер поставки
        td.f-500 0000015667
      tr
        td.c-gray Наименование поставки
        td.f-500 Заявка на ТЭО №55 от 08.11.20 (RUB)/ДОГОВОР № ТЭ-98 от 01.11.20
      tr
        td.c-gray Комментарии
        td.f-500 Транспорт матрица 55

  .supply-details__steps.mt-2
    include ../../supply/steps/_step-list
