// HEADER :: START
header.header
  .header__wrapper
    a(href="homepage.html").header__logo
      +svgColor('logo')

    // actions
    .header__actions
      .header__contacts
        .header__contact
          a(href="tel:74950250022")
            span +7 (495) 025-00-22
            i.header__contact-icon
              +svgMono('phone')
        .header__contact.header__contact--desktop
          a(href="mailto:info@so-logistics.ru") info@so-logistics.ru

      a(href="#").header__action
        i.header__action-icon
          +svgMono('profile')
        span.header__action-text Профиль

      a(href="#").header__action
        i.header__action-icon
          +svgMono('close')
        span.header__action-text Выйти

      .header__hamburger
        .hamburger.js-hamburger
          span
          span
          span

// MOBILE NAVI
.mobile-navi
  .mobile-navi__wrapper
    .mobile-navi__center


    .mobile-navi__bottom
      .mobile-navi__cta
        a(href="#").header__action.header__action--navi
          i.header__action-icon
            +svgMono('profile')
          span.header__action-text Профиль

        a(href="#").header__action.header__action--navi
          i.header__action-icon
            +svgMono('close')
          span.header__action-text Выйти

      .mobile-navi__contacts
        .header__contact.header__contact--navi
          a(href="tel:74950250022")
            span +7 (495) 025-00-22
        .header__contact.header__contact--navi
          a(href="mailto:info@so-logistics.ru") info@so-logistics.ru
