// HEADER :: START
header.header
  .header__wrapper
    a(href="homepage.html").header__logo
      +svgColor('logo')

    // actions
    .header__actions
      .header__contacts
        .header__contact
          a(href="tel:74950250022") +7 (495) 025-00-22
        .header__contact
          a(href="mailto:info@so-logistics.ru") info@so-logistics.ru

      a(href="#").header__action
        i.header__action-icon
          +svgMono('profile')
        span.header__action-text Профиль

      a(href="#").header__action
        i.header__action-icon
          +svgMono('close')
        span.header__action-text Выйти

      .header__hamburger
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner


// MOBILE NAVI
.mobile-navi
  .mobile-navi__wrapper
    ul.mobile-navi__menu
      li
        a(href="homepage.html") Homepage
      li
        a(href="page.html") Shop
      li
        a(href="page.html") Lorem
    .mobile-navi__cta
      a(href="mailto:sergey@khmelevskoy.co") sergey@khmelevskoy.co
