/* HEADER
.header
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 11
  background: white
  will-change: transform
  backface-visibility: hidden
  transform-style: preserve-3d
  transition: box-shadow .25s $ease
  &__wrapper
    display: flex
    align-items: center
    padding: 19px 30px

  &__logo
    flex: 0 0 auto
    font-size: 35px
    padding-right: 30px
    font-size: 0
    .ico
      font-size: 52px
      transition: font-size .15s $ease

  &__actions
    margin-left: auto
    display: flex
    align-items: center

  &__action
    display: flex
    align-items: center
    padding: 5px
    margin-left: 20px
    transition: color .25s $ease
    &:hover
      color: $colorPrimary
  &__action-icon
    font-size: 0
    color: $colorPrimary
    .ico
      font-size: 28px
  &__action-text
    display: inline-block
    margin-left: 7px
    font-size: 16px
    line-height: 1.5

  &__contacts
    display: flex
    align-items: center
  &__contact
    position: relative
    display: flex
    align-items: center
    &::after
      display: inline-block
      content: '|'
      margin-right: 5px
      margin-left: 5px
    &:last-child::after
      display: none !important
    a
      display: inline-block
      padding: 5px
      color: $colorGray
      transition: color .25s $ease
      &:hover
        color: $colorPrimary
      &[href^="mailto"]
        color: $colorPrimary
        &:hover
          color: $colorGray
  &__contact-icon
    display: none
    font-size: 0
    transform: translateY(2px) // TODO
    color: $colorPrimary
    .ico
      font-size: 28px

  &__hamburger
    display: none
    padding-left: 20px

  &.is-transitioning
    transition: transform .25s $ease
    transform: translate3d(0,-100%,0) !important

// body class
.is-mobile-navi-active
  .header
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.07)

+r($lg)
  .header
    &__wrapper
      padding: 10px 30px 9px
    &__logo
      .ico
        font-size: 32px
    &__contact
      &::after
        display: none
      span
        display: none
      &--desktop
        display: none
      &--navi
        display: block
        align-items: flex-start
        span
          display: inline-block
    &__contact-icon
      display: inline-block
    &__action
      display: none
      &--navi
        display: flex
        margin-left: 0
        margin-right: 25px
        &:last-child
          margin-right: 0
    &__hamburger
      display: block

+r($md)
  .header


+r($sm)
  .header
    &__wrapper
      padding: 3px 20px
    &__logo
      .ico
        font-size: 24px
    &__hamburger
      padding-left: 5px
      transform: scale(0.8)
      transform-origin: right center
    &__contact-icon
      .ico
        font-size: 24px
