// SIDEBAR
.sidebar-global-container
  position: relative
  z-index: 9
  position: fixed 0
  pointer-events: none
  will-change: opacity
  background: transparent
  transition: background .25s $ease, backdrop-filter .25s linear
  backface-visibility: hidden
  &.is-active
    background: rgba(#000, .2)
    backdrop-filter: blur(4px)

+r($md)
  .is-mobile-navi-active
    .sidebar-global-container
      background: rgba(#000, .2)
      backdrop-filter: blur(4px)

.sidebar
  position: fixed
  z-index: 10
  top: 0
  left: 0
  bottom: 0
  max-height: 100%
  background: white
  display: flex
  flex-direction: column
  overflow-y: auto
  pointer-events: all
  &__wrapper
    flex: 1 1 auto
    display: flex
    flex-direction: column
    padding-top: 90px
  &__menu
    flex: 0 0 auto
    margin: 30px 0 0
    padding: 0
    display: flex
    flex-direction: column
    font-size: 16px
    li
      display: block
      margin-bottom: 2px
      // dirty fix here because icons are not eq() in height
      &:nth-child(1)
        margin-bottom: 2px
      &:nth-child(3)
        margin-bottom: 5px
      &:nth-child(4)
        margin-bottom: 5px
      &:nth-child(6)
        margin-bottom: 0px
    a
      display: block
      padding: 10px
      min-width: 92px
      text-align: center
      color: $colorPrimary
      transition: color .15s $ease
      &:hover
        color: $fontColor
      .ico
        font-size: 34px
      .ico-mono-menu-1
        font-size: 36px
      .ico-mono-menu-2
        font-size: 34px
      .ico-mono-menu-3
        font-size: 33px
      .ico-mono-menu-4
        font-size: 32px
      .ico-mono-menu-5
        font-size: 33px
      .ico-mono-menu-6
        font-size: 40px
    li.is-active, li.is-hovered
      a
        color: $fontColor

+r($lg)
  .sidebar
    &__wrapper
      padding-top: 60px
      padding-bottom: 90px

+r($md)
  .sidebar
    transform: translate3d(-62px, 0, 0)
    transition: transform .25s $ease
    will-change: transform
    &__wrapper
      padding-bottom: 130px
    &__menu
      a
        min-width: 62px
        padding: 10px 5px
        text-align: right

  .is-mobile-navi-active
    .sidebar
      transform: translate3d(0,0,0)

+r($sm)
  .sidebar
    &__wrapper
      padding-top: 42px
    &__menu
      margin-top: 10px


// sidebar menu (js-sidebar-menu)
.s-menu
  position: fixed
  z-index: 9
  top: 0
  left: 92px
  bottom: 0
  max-height: 100%
  background: $colorBg
  display: flex
  flex-direction: column
  // overflow-y: auto
  opacity: 0
  transform: translate3d(-20px,0,0)
  pointer-events: none
  will-change: transform
  transition: transform .25s $ease, opacity .1s $ease
  &.is-active
    opacity: 1
    pointer-events: all
    transform: translate3d(0,0,0)
  &__wrapper
    position: relative
    flex: 1 1 auto
    display: flex
    flex-direction: column
    padding-top: 90px
  &__menu
    flex: 0 0 auto
    margin: 30px 0 0
    padding: 0
    display: flex
    flex-direction: column
    font-size: 16px
    li
      display: block
      &:hover
        .s-menu__lvl-down
          opacity: 1
          pointer-events: all
          transform: translate3d(0,0,0)
    a
      position: relative
      display: block
      padding: 21px 30px 21px 20px
      min-width: 250px
      color: $fontColor
      transition: color .15s $ease, background .15s $ease
      &:hover
        color: $colorPrimary
        background: white
        &::after
          opacity: 1
    li.is-active
      > a
        color: $colorPrimary
        background: white
        &::after
          opacity: 1
  &__lvl-down
    position: absolute
    z-index: 1
    left: 250px
    top: 0
    bottom: 0
    margin: 0
    padding: 120px 0 30px
    background: white
    min-height: 100%
    overflow-y: auto
    opacity: 0
    transform: translate3d(0px,-20px,0)
    pointer-events: none
    transition: transform .25s $ease, opacity .1s $ease
    a
      min-width: 240px
    &.is-active
      opacity: 1
      pointer-events: all
      transform: translate3d(0,0,0)

  &__mobile-back
    display: none !important

  &__have-ul
    > a::after
      display: inline-block
      content: ''
      background: svg-load('../icons/svg-mono/arrow-right.svg') no-repeat center center
      background-size: cover
      size: 8px 12px
      position: absolute
      right: 15px
      top: 50%
      transform: translate(0, -50%)
      will-change: opacity
      pointer-events: none
      opacity: 0
      transition: opacity .15s $ease

+r($lg)
  .s-menu
    &__wrapper
      padding-top: 60px
      padding-bottom: 90px
    &__lvl-down
      padding-top: 90px
      padding-bottom: 90px

+r($md)
  .s-menu
    left: 62px
    background: white
    transform: translate3d(-62px,0,0)
    &__wrapper
      padding-bottom: 130px
    &__menu
      a
        max-width: 100%
        padding-left: 5px
    &__lvl-down
      left: calc(-225px - 62px + 100vw)
      margin: 0
      padding: 90px 0 130px
      background: $colorBg
      a
        min-width: 225px
        padding-left: 20px
        padding-right: 15px

    &__mobile-back
      display: block !important
      margin-bottom: 10px
      button
        margin-left: 20px

  .is-mobile-navi-active
    .s-menu
      opacity: 1
      pointer-events: all
      transform: translate3d(0,0,0)

+r($sm)
  .s-menu
    &__wrapper
      padding-top: 42px
    &__menu
      margin-top: 10px
    &__lvl-down
      padding-top: 52px
