// SIDEBAR
.sidebar-global-container
  position: relative

.sidebar
  position: fixed
  z-index: 10
  top: 0
  left: 0
  bottom: 0
  max-height: 100%
  background: white
  display: flex
  flex-direction: column
  overflow-y: auto
  &__wrapper
    flex: 1 1 auto
    display: flex
    flex-direction: column
    position: relative
    padding-top: 90px
  &__menu
    flex: 0 0 auto
    margin: 30px 0 0
    padding: 0
    display: flex
    flex-direction: column
    li
      display: block
      margin-bottom: 2px
      // dirty fix here because icons are not eq() in height
      &:nth-child(1)
        margin-bottom: 2px
      &:nth-child(3)
        margin-bottom: 5px
      &:nth-child(4)
        margin-bottom: 5px
      &:nth-child(6)
        margin-bottom: 0px
    a
      display: block
      padding: 10px
      min-width: 92px
      text-align: center
      color: $colorPrimary
      transition: color .15s $ease
      &:hover
        color: $fontColor
      .ico
        font-size: 34px
      .ico-mono-menu-1
        font-size: 36px
      .ico-mono-menu-2
        font-size: 34px
      .ico-mono-menu-3
        font-size: 33px
      .ico-mono-menu-4
        font-size: 32px
      .ico-mono-menu-5
        font-size: 33px
      .ico-mono-menu-6
        font-size: 40px
    li.is-active
      a
        color: $fontColor


// sidebar menu (js-sidebar-menu)
.sidebar-menu
  position: fixed
  z-index: 9
  top: 0
  left: 92px
  bottom: 0
  max-height: 100%
  background: $colorBg
  display: flex
  flex-direction: column
  overflow-y: auto
  opacity: 0
  transform: translate3d(-20px,0,0)
  pointer-events: none
  will-change: transform
  transition: transform .25s $ease, opacity .1s $ease
  &.is-active
    opacity: 1
    pointer-events: all
    transform: translate3d(0,0,0)
  &__wrapper
    flex: 1 1 auto
    display: flex
    flex-direction: column
    position: relative
    padding-top: 90px
  &__menu
    flex: 0 0 auto
    margin: 30px 0 0
    padding: 0
    display: flex
    flex-direction: column
    li
      display: block
    a
      position: relative
      display: block
      padding: 21px 30px 21px 20px
      min-width: 250px
      color: $fontColor
      transition: color .15s $ease, background .15s $ease
      &::after
        display: inline-block
        content: ''
        background: svg-load('../icons/svg-mono/arrow-right.svg') no-repeat center center
        background-size: cover
        size: 8px 12px
        position: absolute
        right: 15px
        top: 50%
        transform: translate(0, -50%)
        will-change: opacity
        pointer-events: none
        opacity: 0
        transition: opacity .15s $ease
      &:hover
        color: $colorPrimary
        background: white
        &::after
          opacity: 1
    li.is-active
      a
        color: $colorPrimary
        background: white
        &::after
          opacity: 1
