// SIDEBAR
.sidebar-global-container
  .sidebar
    .sidebar__wrapper
      ul.sidebar__menu.js-sidebar-nav
        li(data-index="1").is-active
          a(href="#")
            +svgMono('menu-1')
        li(data-index="2")
          a(href="#")
            +svgMono('menu-2')
        li(data-index="3")
          a(href="#")
            +svgMono('menu-3')
        li(data-index="4")
          a(href="#")
            +svgMono('menu-4')
        li(data-index="5")
          a(href="#")
            +svgMono('menu-5')
        li(data-index="6")
          a(href="#")
            +svgMono('menu-6')
        li(data-index="7")
          a(href="#")
            +svgMono('menu-7')

  // sidebar menu
  .s-menu.js-sidebar-menu
    .s-menu__wrapper
      ul.s-menu__menu
        li.s-menu__have-ul(data-index="1").is-active
          a(href="#") Поставки
          ul.s-menu__lvl-down
            li
              a(href="#") Текушие поставки
              a(href="#") Завершённые поставки
        li(data-index="2")
          a(href='#') Заявка на услугу
        li(data-index="3")
          a(href="#") Текущие счета
        li(data-index="4")
          a(href="#") Прайсы на услуги
        li.s-menu__have-ul(data-index="5")
          a(href="#") Финансовые документы
          ul.s-menu__lvl-down
            li
              a(href="#") Выставленные счета
              a(href="#") Платежы контрагентам
              a(href="#") Отчетность
        li.s-menu__have-ul(data-index="6")
          a(href="#") Инвойсы поставщиков
          ul.s-menu__lvl-down
            li
              a(href="#") Первичные документы
              a(href="#") Накладные
        li(data-index="7")
          a(href="#") Склад
