// Dashboard
.dash
  &__wrapper
    padding: 25px 0 35px
  &__head
    display: flex
  &__filter
    margin-top: 20px
  &__supply
    .supply-scope
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0


