// Dashboard
.dash
  &__wrapper
    padding: 25px 0 35px
    max-width: 1340px
  &__head
    display: flex
    align-items: center
  &__head-title
    padding-right: 20px
  &__head-cta
    margin: 10px 0 10px auto
  &__filter
    margin-top: 20px
    margin-bottom: 20px
    .ui-group
      margin-bottom: 10px
  &__supply
    .supply-scope
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0
  &__nav-scroller
    position: relative
    display: flex
    overflow-x: auto
    padding: 0 60px 15px calc(92px + 60px)
    margin-bottom: -15px
    margin-left: calc(-92px - 60px)
    margin-right: -60px
    &.has-scrollbar
      .dash__nav
        &::after
          display: inline-block
          content: ' '
          width: 60px
  &__nav
    flex: 0 0 auto
    position: relative
    width: max-content
    display: flex
    align-items: center
    margin: 20px 0 0
    padding: 0
    &::before
      display: inline-block
      content: ' '
      position: absolute
      z-index: 1
      bottom: 0px
      left: 0
      right: 0
      background: #E4E4E4
      height: 2px
    li
      flex: 0 0 auto
      display: inline-block
      // margin-right: auto
      margin-right: 25px
      &:last-child
        margin-right: 0
    a
      position: relative
      display: inline-block
      padding: 5px
    &--width-auto
      width: auto
      li
        margin-right: 50px
    li
      &.is-active
        // some active styles

  &__nav-highlighter
    position: absolute
    z-index: 2
    bottom: 0px
    left: 0
    height: 2px
    background: $colorPrimary
    transition: all .25s $ease

+r($md)
  .dash
    &__head
      flex-wrap: wrap
    &__head-title
      flex: 0 0 100%
      max-width: 100%
      order: 2
    &__head-cta
      order: 1
      margin: 0 0 15px

    &__filter
      max-width: 400px
      .btn
        margin-top: 0
    &__nav-scroller
      padding: 0 30px 15px 30px
      margin-left: -30px
      margin-right: -30px
      &.has-scrollbar
        .dash__nav::after
          width: 30px

+r($sm)
  .dash
    &__nav
      margin-top: 10px
    &__supply
      .supply-scope
        margin-bottom: 20px
    &__nav-scroller
      padding: 0 20px 15px 20px
      margin-left: -20px
      margin-right: -20px
      &.has-scrollbar
        .dash__nav::after
          width: 20px
