include ../profile/_mixins

// Dashboard
.dash
  .container.container--sidebar
    .dash__wrapper
      // head
      .dash__head(data-aos="fade")
        .h1-title.dash__head-title Профиль

      // tabs content
      .dash__content.js-tabs(data-aos="fade")
        ul.dash__nav.dash__nav--width-auto.js-tabs-nav
          i.dash__nav-highlighter.js-nav-highlighter
          li.is-active
            a(href="#contacts") Контакты
          li
            a(href="#data") Данные

        // NEXT TAB (TRACKING)
        .js-tab.mt-2(data-tab="contacts" style="display: block")
          // .profile
          .profile.panel
            .profile__wrapper
              .row
                .col.col-6.col-md-12
                  +profileContact({
                    title: 'Персональный менеджер',
                    tag: 'Заменяющий менеджер',
                    name: 'Валуев Владимир',
                    email: 'v.valuev@so-logistics.ru'
                  })
                .col.col-6.col-md-12
                  +profileContact({
                    title: 'Бухгалтер <span class="lg-hidden">по работе с клиентами</span>',
                    name: 'Разгулина Кристина',
                    email: 'k.razgulina@so-logistics.ru'
                  })
                .col.col-6.col-md-12
                  +profileContact({
                    title: 'Руководитель отдела продаж',
                    name: 'Малинкин Александр',
                    email: 'a.malinkin@so-logistics.ru'
                  })

        // NEXT TAB (INFO)
        .js-tab.mt-2(data-tab="data")
          // .profile
          .profile.panel
            .profile__wrapper
              .row
                .col.col-6.col-md-12
                  +profileContact({
                    title: 'Наименование организации',
                    name: 'ООО «Ремстрой Технологии»',
                  })
                .col.col-6.col-md-12
                  +profileContact({
                    title: 'Действующий договор',
                    name: 'Договор на оказание услуг №0031236-0997 от 12.07.2020',
                  })
                .col.col-6.col-md-12
                  +profileContact({
                    title: 'ФИО ответственного лица',
                    name: 'Гаджиева Магрипа Харипуллаевна',
                  })
