include ../supply/_mixins
// Dashboard
.dash
  .container.container--sidebar
    .dash__wrapper
      // head
      .dash__head(data-aos="fade")
        .h1-title Текущие поставки
      .dash__filter.row(data-aos="fade")
        .col.col-3.col-xl-5.col-md-12
          .ui-group
            label(for="dash_filter_1") Номер поставки
            input.ui-input(type="text" id="dash_filter_1")

        .col.col-4.col-xl-7.col-md-12
          .ui-group
            label(for="dash_filter_1") Дата завершения
            .row
              .col.col-6
                .ui-input-iconed
                  input.ui-input.js-datepicker(type="date" id="dash_filter_2")
                  +svgMono('calendar')
              .col.col-6
                .ui-input-iconed
                  input.ui-input.js-datepicker(type="date" id="dash_filter_3")
                  +svgMono('calendar')

        .col.col-3.col-xl-5.col-md-12
          .ui-group
            label(for="dash_filter_2") Статус поставки
            input.ui-input(type="text" id="dash_filter_2")

        .col.col-2.col-xl-auto
          .ui-group
            button(type="submit").btn.btn-primary.btn--block Применить

      // supply
      .dash__supply
        +supplyScope({
          name: '0000015667',
          progress: 50,
          date: '22.12.2020',
          status: 'Ожидание отправки со склада консолидации'
        })
        +supplyScope({
          name: '0000015667',
          progress: 80,
          date: '22.12.2020',
          status: 'Ожидание отправки со склада консолидации'
        })
        +supplyScope({
          name: '0000015667',
          progress: 30,
          date: '22.12.2020',
          status: 'Ожидание отправки со склада консолидации'
        })
        +supplyScope({
          name: '0000015667',
          progress: 40,
          date: '22.12.2020',
          status: 'Ожидание отправки со склада консолидации'
        })
        +supplyScope({
          name: '0000015667',
          progress: 50,
          date: '22.12.2020',
          status: 'Ожидание отправки со склада консолидации'
        })
