include ../supply/_mixins
// Dashboard
.dash
  .container.container--sidebar
    .dash__wrapper
      // head
      .dash__head(data-aos="fade")
        .h1-title Завершенные поставки
      .dash__filter.row(data-aos="fade")
        .col.col-6
          .ui-group
            label(for="dash_filter_1") Номер поставки
            input.ui-input(type="text" id="dash_filter_1")
        .col.col-4
          .ui-group
            label(for="dash_filter_2") Дата завершения
            .row
              .col.col-6
                .ui-input-iconed
                  input.ui-input.js-datepicker(type="date" id="dash_filter_2")
                  +svgMono('calendar')
              .col.col-6
                .ui-input-iconed
                  input.ui-input.js-datepicker(type="date" id="dash_filter_3")
                  +svgMono('calendar')
        .col.col-2
          .ui-group
            button(type="submit").btn.btn-primary.btn--block Применить

      // supply
      .dash__supply
        +supplyScope({
          name: '0000015667',
          progress: 100,
          date: '22.12.2020',
          status: 'Груз прибыл на склад Москва Силикатная'
        })
        +supplyScope({
          name: '0000015667',
          progress: 100,
          date: '22.12.2020',
          status: 'Груз прибыл на склад Владивосток Экспорт'
        })
        +supplyScope({
          name: '0000015667',
          progress: 100,
          date: '22.12.2020',
          status: 'Груз прибыл на склад Москва Силикатная'
        })
        +supplyScope({
          name: '0000015667',
          progress: 100,
          date: '22.12.2020',
          status: 'Груз прибыл на склад Владивосток Экспорт'
        })
        +supplyScope({
          name: '0000015667',
          progress: 100,
          date: '22.12.2020',
          status: 'Груз прибыл на склад Москва Силикатная'
        })
