
$disabledColor: #c0c4cc

/* ss-item (col like)
.ss-item
  padding-top: 90px
  width: 25%
  position: relative
  line-height: 1.2
  padding-right: 10px
  &:last-child
    width: 135px
    position: absolute
    top: 0
    right: 0
    &:after
      width: 25px
      left: 20px
    &:before
      content: ''
      width: 9px
      height: 6px
      position: absolute
      top: 71px
      left: 50px
      background: #e5aaaa
      border-radius: 6px
  &:after
    content: ''
    width: calc(100% + 6px)
    height: 6px
    position: absolute
    top: 71px
    left: 0
    background: #e5aaaa
    border-radius: 6px

  &_last:after
    display: none

  &__dis
    &:after
      background: $disabledColor
    &:last-child
      &:after, &:before
        background: $disabledColor
    &:before, .ss-item__status
      background: $disabledColor
    .ss-item__ico .ico
      color: $disabledColor
    .ss-item__date
      min-height: 32px
      color: $disabledColor
    .ss-item__title
      color: $disabledColor

  &__ico
    position: absolute
    top: 0
    left: 0
    width: auto
    height: 50px
    display: flex
    align-items: flex-end
    transform: translateX(-20%)
    img
      max-width: 100%
    .ico
      font-size: 44px
      color: #505050
  &__ico, .ss-note__ico
    .ico-mono
      &-step-1, &-step-2, &-step-5
        font-size: 48px
      &-step-6
        font-size: 52px
      &-step-7, &-step-8, &-step-9, &-step-10
        font-size: 32px
      &-step-11
        font-size: 37px
      &-step-12
        font-size: 30px
        transform: translate(8px, -8px)
      &-step-13
        font-size: 40px
        transform: translate(8px, -8px)
      &-step-15
        font-size: 47px
      &-step-16
        font-size: 66px
        transform: translate(-4px, 16px)
      &-step-18, &-step-19, &-step-20
        font-size: 48px

    span
      width: 50px
      height: 50px
      display: block
      background: $colorPrimary

  &__date
    display: block
    margin-top: 5px
    font-size: 14px
    color: #686868
  &__title
    display: block
    margin-top: 10px
    font-size: 14px
  &__status
    width: 22px
    height: 22px
    position: absolute
    top: 63px
    left: 0
    border-radius: 20px
    background: $colorPrimary url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMyAxMSI+CiAgPGRlZnMvPgogIDxwYXRoIGZpbGw9InJnYigyNTUsIDI1NSwgMjU1KSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTIuODM3IDIuNzg0TDcuNDk2IDguMTI1bC4wOTEuMDkxLTIuMTIxIDIuMTIxLS4wOTEtLjA5MS0uMDkxLjA5MS0yLjEyMS0yLjEyMS4wOTEtLjA5MUwuMTYzIDUuMDM0bDIuMTIxLTIuMTIxIDMuMDkxIDMuMDkxTDEwLjcxNi42NjNsMi4xMjEgMi4xMjF6Ii8+Cjwvc3ZnPg==") no-repeat center center
    -webkit-background-size: 13px 10px
    background-size: 13px 10px
    border: 2px solid #f7f7f7
    z-index: 3
  &__now
    position: absolute
    left: 37%
    top: 0

+r($xl)
  .ss-item
    &__title, &__date
      font-size: 12px

+r($lg)
  .ss-item
    padding-top: 15px
    padding-left: 105px
    padding-bottom: 10px
    width: 100%
    min-height: 90px
    position: relative
    line-height: 1.2
    &:last-child
      width: 100%
      position: relative
      top: 0
      left: 0
      &:before
        display: none
      &:after
        content: ''
        width: 6px
        height: calc(100% + 15px)
        top: 0
        left: 86px
        border-radius: 0
    &:after
      content: ''
      width: 6px
      height: calc(100% + 15px)
      top: 0
      left: 86px
      border-radius: 0
    &__ico
      width: 95px
      left: -5px
      justify-content: center
      transform: translateX(0%) scale(0.85)
      transform-origin: left center
    &__title, &__date
      font-size: 14px
    &__status
      top: 17px
      left: 78px
      position: absolute
