// Dashboard
.dash
  .container.container--sidebar
    .dash__wrapper
      // head
      .dash__head
        .h1-title.dash__head-title Поставка №0000015677
        .dash__head-cta
          a(href="#").btn.btn-outline Вернуться в текущие поставки

      // tabs content
      .dash__content.js-tabs
        ul.dash__nav.js-tabs-nav
          li.is-active
            a(href="#tab-1") Трекинг партии поставки
          li
            a(href="#tab-2") Информация по поставке
          li
            a(href="#tab-4") Счета по поставке
          li
            a(href="#tab-5") Документы по поставке
          li
            a(href="#tab-6") Расчеты с поставщиками


        .js-tab.mt-2(data-tab="tab-1" style="display: block")
          // .supply-details
          .supply-details.panel
            .supply-details__scope
              table
                tr
                  td.c-gray Текущее состояние
                  td.f-500 Выход груза с таможни
                tr
                  td.c-gray Итого дней в пути
                  td.f-500 30
                tr
                  td.c-gray Номер поставки
                  td.f-500 0000015667
                tr
                  td.c-gray Наименование поставки
                  td.f-500 Заявка на ТЭО №55 от 08.11.20 (RUB)/ДОГОВОР № ТЭ-98 от 01.11.20
                tr
                  td.c-gray Комментарии
                  td.f-500 Транспорт матрица 55


        .js-tab.mt-2(data-tab="tab-2")
          // .supply-details
          .supply-details.panel
            .supply-details__info
              .supply-details__note
                .wysiwyg
                  p ВНИМАНИЕ: Каждый товар должен иметь на ИНДИВИДУАЛЬНОЙ упаковке маркировку, содержащую сведения об изготовителе, <br/> торговой марке, модели/артикуле, получателе и т.д.


        .js-tab.mt-2(data-tab="tab-3")

        .js-tab.mt-2(data-tab="tab-4")

        .js-tab.mt-2(data-tab="tab-5")

        .js-tab.mt-2(data-tab="tab-6")
