// Dashboard
.dash
  .container.container--sidebar
    .dash__wrapper
      // head
      .dash__head(data-aos="fade")
        .h1-title.dash__head-title Поставка №0000015677
        .dash__head-cta
          a(href="#").btn.btn-outline <span class="md-hidden">Вернуться в</span> <span class="md-visible">В</span> текущие поставки

      // tabs content
      .dash__content.js-tabs
        .dash__nav-scroller
          ul.dash__nav.js-tabs-nav(data-aos="fade")
            i.dash__nav-highlighter.js-nav-highlighter
            li.is-active
              a(href="#tracking") Трекинг партии поставки
            li
              a(href="#info") Информация по поставке
            li
              a(href="#bills") Счета по поставке
            li
              a(href="#docs") Документы по поставке
            li
              a(href="#suppliers") Расчеты с поставщиками


        // NEXT TAB (TRACKING)
        .js-tab.mt-2(data-tab="tracking" style="display: block")
          include details/_tracking

        // NEXT TAB (INFO)
        .js-tab.mt-2(data-tab="info")
          include details/_info

        // NEXT TAB (BILLS)
        .js-tab.mt-2(data-tab="bills")
          include details/_bills

        // NEXT TAB (DOCS)
        .js-tab.mt-2(data-tab="docs")
          include details/_docs


        // NEXT TAB (SUPPLIERS)
        .js-tab.mt-2(data-tab="suppliers")
          include details/_suppliers
