// .supply-scope
.supply-scope
  margin-left: -30px
  margin-right: -30px
  padding: 20px 30px
  background: white
  border-radius: 8px
  &__wrapper
    display: flex
    align-items: center
    width: 100%
  &__name
    padding-right: 10px
    flex: 0 0 140px
    max-width: 140px
    font-weight: 500
    font-size: 18px
    line-height: 24px
  &__progress
    position: relative
    flex: 1 1 580px
    max-width: 580px
    min-height: 22px
    &::after
      position: absolute
      left: 0
      right: 0
      top: 50%
      height: 5px
      transform: translateY(-50%)
      display: inline-block
      content: ' '
      background: #E4E4E4
      border-radius: 10px
  &__progress-fill
    position: absolute
    z-index: 3
    left: 0
    right: 0
    top: 50%
    height: 5px
    transform: translateY(-50%)
    background: #E4ABAB
    border-radius: 10px
  &__progress-arrow
    position: absolute
    z-index: 4
    top: 50%
    transform: translateY(-50%)
    margin-left: -12px
    color: #E4ABAB
    font-size: 22px
    font-size: 0
    .ico
      font-size: 22px

  &__info
    flex: 0 0 300px
    max-width: 300px
    padding-left: 25px
    padding-right: 25px
  &__date
    font-size: 14px
    line-height: 18px
    color: $colorGray
  &__status
    font-weight: bold
    font-size: 14px
    line-height: 18px
  &__cta
    margin-left: auto
    flex: 0 0 auto
    max-width: auto
    display: flex
    justify-content: flex-end

+r($lg)
  .supply-scope
    margin-left: 0px
    margin-right: 0px
    &__wrapper
      flex-wrap: wrap
    &__progress
      flex: 0 0 calc(100% - 140px)
      max-width: calc(100% - 140px)
    &__info
      flex-basis: 50%
      max-width: 50%
      padding-left: 0
      padding-top: 12px
    &__cta
      padding-top: 12px


+r($sm)
  .supply-scope
    padding: 15px 15px 25px
    &__name, &__progress, &__info, &__cta
      flex-basis: 100%
      max-width: 100%
    &__info, &__name
      padding-right: 0
    &__progress
      margin-top: 10px
    &__cta
      margin-left: 0
      justify-content: flex-start
      .btn
        padding-left: 15px
        padding-right: 15px

// supply-details
.supply-details
  & + &
    margin-top: 32px
  &__scope
    margin-top: -4px
    table
      border-collapse: collapse
      width: auto
      td
        padding: 4px 0
        font-size: 14px
        &:first-child
          padding-right: 30px
  &__info
    position: relative


  &__cta
    position: absolute
    top: 0
    right: 20px
    .btn
      font-size: 14px
      padding-top: 10px
      padding-bottom: 10px

+r($lg)
  .supply-details
    &__cta
      top: -5px

