.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-eye-closed {
  width: 1.17em;
  height: 1em;
  fill: #ABABAB;
}
.ico-mono-eye-opened {
  width: 1.27em;
  height: 1em;
  fill: #000;
}
.ico-mono-preloader {
  width: 1.83em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-profile {
  width: 1em;
  height: 1em;
  fill: #E76060;
}
