.ico-mono-arrow-right {
  width: 0.58em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-calendar {
  width: 1.1em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-close-simple {
  width: 1em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-eye-closed {
  width: 1.17em;
  height: 1em;
  fill: #ABABAB;
}
.ico-mono-eye-opened {
  width: 1.27em;
  height: 1em;
  fill: #000;
}
.ico-mono-file-excel {
  width: 0.81em;
  height: 1em;
  fill: #007732;
}
.ico-mono-file-pdf {
  width: 0.81em;
  height: 1em;
  fill: #FD4233;
}
.ico-mono-file-word {
  width: 0.81em;
  height: 1em;
  fill: #1D409D;
}
.ico-mono-menu-1 {
  width: 0.89em;
  height: 1em;
  fill: #000;
}
.ico-mono-menu-2 {
  width: 1em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-menu-3 {
  width: 0.83em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-menu-4 {
  width: 0.79em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-menu-5 {
  width: 0.83em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-menu-6 {
  width: 0.68em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-menu-7 {
  width: 1.03em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-phone {
  width: 1em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-preloader {
  width: 1.83em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-profile {
  width: 1em;
  height: 1em;
  fill: #E76060;
}
