.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-preloader {
  width: 1.83em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-profile {
  width: 1em;
  height: 1em;
  fill: #E76060;
}
