// AUTH
.auth
  .container.container--6
    .auth__wrapper.tac
      h3.auth__title.h3-title(data-aos="fade-down") Пользователь<br/>с указанными E-mail и Login не найден

      .auth__cta.mt-2
        a(href="submit").btn.btn-primary Попробуйте снова

