// AUTH
.auth
  .container.container--6
    .auth__wrapper.tac
      h3.auth__title.h3-title.h3-title-lg.h3-title-sm(data-aos="fade-up") Пользователь<br/>с указанными E-mail и Login не найден

      .auth__cta.mt-2(data-aos="fade-up")
        a(href="auth.html").btn.btn-primary Попробуйте снова

script.
  function funcNameCallbackSucces(args){
    console.log(args)
  }
