// AUTH
.auth
  .container.container--6
    .auth__wrapper
      h3.auth__title.h3-title(data-aos="fade-up") Регистрация

      form.auth__form.js-validate-form(data-aos="fade-up" data-success-function="funcNameCallbackSucces")
        .row
          .col.col-6.col-md-12
            .ui-group
              label(for="auth_login") Логин
              input.ui-input(type="text" name="login" id="auth_login" required)

          .col.col-6.col-md-12
            .ui-group
              label(for="auth_email") Email
              input.ui-input(type="email" name="email" id="auth_email" required)

          .col.col-6.col-md-12
            .ui-group
              label(for="auth_pass") Пароль
              input.ui-input(type="password" name="pass" id="auth_pass" minlength="6" required)
              .ui-pass-eye
                .ui-pass-eye__wrapper
                  +svgMono('eye-closed')
                  +svgMono('eye-opened')

          .col.col-6.col-md-12
            .ui-group
              label(for="auth_pass_2") Пароль
              input.ui-input(type="password" name="pass2" id="auth_pass_2" equalTo="auth_pass")
              .ui-pass-eye
                .ui-pass-eye__wrapper
                  +svgMono('eye-closed')
                  +svgMono('eye-opened')

          .col.col-12
            .auth__cta
              button(type="submit").btn.btn-primary Зарегистрироваться

          .col.col-12.mt-2
            a(href="auth.html").helper-link Войти
